  </main>
  <nav class="site-nav">
    <a href="/">Browse by book</a>
    <a href="/all/">See all highlights</a>
  </nav>
  <footer class="site-footer">
    <small>Highlights and covers are copyright to their respective authors.<br /><br /><a href="https://github.com/yashhere/highlights">Peek at the code</a> for this project</small><br />The website is a fork of <a href="https://highlights.melanie-richards.com">Melanie Richards' highlights website</a>.</small>
  </footer>

  <script src="/assets/js/deps.js"></script>
  <script src="/assets/js/scripts.js"></script>
</body>